.port-item {
  width: 25%; }
  .port-item .fa {
    font-size: 2em;
    color: white; }

.img {
  width: 100%;
  height: 100%; }

.port-item:hover {
  opacity: 0.6;
  cursor: pointer; }

@media screen and (min-width: 1200px) {
  .probs .fa {
    padding: 17px; } }
